@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Suggestion submission of '" + Model.suggRest + "' is pending.";
}

@model Assignment4.Models.SuggestionResponse

<div class="text-center">
    <h2>Suggestion submitted.</h2>
</div>
