@{
    ViewBag.Title = "Top 5 Restaurants";
}

@model IEnumerable<string>


<body>
    <div class="text-center">
        <ul class="list-group">
            @foreach (string i in Model)
            {
                <li class="list-group-item">@i</li>
            }
        </ul>
    </div>
   
</body>
