@*This is my welcome page that shows my top 5 restaurants*@
@{
    ViewBag.Title = "Welcome";
}

@model IEnumerable<string>


<body>
    <div class="text-center">
        <h4>Top 5 Restaurants</h4>
        <ul class="list-group">
            @foreach (string i in Model)
            {
                <li class="list-group-item">@i</li>
            }
        </ul>
    </div>
   
</body>
