@{
    ViewBag.Title = "Restaurant Suggestions";
}


@model IEnumerable<Assignment4.Models.SuggestionResponse> 

@*This is my div that contains the output for the suggestions that are put into the suggestion page*@
<div class="align-items-sm-stretch">
    <h2>Current suggestions and submitter</h2>

    <table>
        <thead>
            <tr><th>Name</th><th>Restaurant</th><th>Favorite Dish</th><th>Restaurant Phone Number</th></tr>
        </thead>
       
            <tbody>
                @foreach (Assignment4.Models.SuggestionResponse x in Model)
                {
                    <tr>
                        <td>@x.suggName</td>
                        <td>@x.suggRest</td>
                        <td>@x.suggDish</td>
                        <td>@x.suggPhone</td>
                    </tr>
                }
            </tbody>
       
    </table>
</div>
