@*
    This is my page that contains the form for submitted new restaurant suggestions
*@
@{
    ViewBag.Title = "Suggestions";
}

@model Assignment4.Models.SuggestionResponse 

<div class="text-center">
    <form asp-action="Suggestions" method="post">
        <div>
            <label asp-for="suggName">Name:</label>
            <input asp-for="suggName"/>
        </div>
        <div>
            <label asp-for="suggRest">Restaurant Name:</label>
            <input asp-for="suggRest"/>
        </div>
        <div>
            <label asp-for="suggDish">Favorite Dish:</label>
            <input asp-for="suggDish"/>
        </div>
        <div>
            <label asp-for="suggPhone">Restuarant Phone Number:</label>
            <input asp-for="suggPhone"/>
        </div>
        <button type="submit">Submit your Suggestion</button>
    </form>
</div>
